* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto-slab;
    src: url("../../assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: roboto-slab-light;
    src: url("../../assets/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf");
}

main {

    .every-pixel {
        padding: 120px 50px 0px 50px;

        .start-your-project {
            position: absolute;
            top: 50px;
            right: 100px;
            font-size: 36px;
            font-weight: 600;
            font-family: roboto-slab;
            text-decoration: none;
            color: black;
            transition: 0.5s ease-in-out;


            &::before {
                content: "";
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: #ed1080;
                left: -50%;
                top: calc(100% + 10px);
                transition: 0.5s ease-in-out;
                opacity: 0;
            }

            &::after {
                right: -15%;
                top: 30%;
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                background-color: black;
                transition: 1s ease-in-out;
            }


            &:hover {
                color: #ed1080;
                transition: 1s ease-in-out;

                &::after {
                    background-color: #ed1080;
                    transition: 1s ease-in-out;
                    animation: rotateSquare 4s linear infinite;
                }

                &::before {
                    left: 0%;
                    opacity: 1;
                }



                @keyframes rotateSquare {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }



            }

        }

        .bring-idea {
            margin: 290px 0 0 27px;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 4px;
            position: relative;
            width: fit-content;

            &::before {
                top: -400px;
                left: 490px;
                position: absolute;
                content: "";
                height: 800px;
                width: 800px;
                background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                background-repeat: no-repeat;
                background-position: center;
                z-index: -1;
                animation: rotate 3s ease-in-out, slideDown 3s ease-in-out;
                /* Add animation */

            }

            @keyframes slideDown {
                from {
                    top: -700px;
                    left: 10px;
                }

                to {
                    top: -400px;
                    left: 490px;
                }
            }
        }

        .headers {
            width: calc(100%);
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                display: inline-block;
                text-transform: uppercase;
                font-size: 290px;
                letter-spacing: 25px;
                font-weight: 400;

                span {
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-PIXEL-BG.png");
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-position: 20% 10%;

                }
            }

            // @keyframes background-scroll {
            //     0% {
            //         background-position: 0% 0%;
            //     }
            //     50% {
            //         background-position: 0% 100%;
            //     }
            //     100% {
            //         background-position: 0% 0%;
            //     }
            // }

        }

        .tells-your-story {
            padding-right: 5%;
            font-weight: 400;
            font-size: 100px;
            letter-spacing: 8px;
            text-align: right;
        }


        @media screen and (min-width: 1927px) {

            .bring-idea {
                margin: 290px 0 0 130px;
                font-size: 70px;
                line-height: 58px;
                letter-spacing: 4px;
                position: relative;

                &::before {
                    top: -400px;
                    left: 706px;
                    position: absolute;
                    content: "";
                    height: 800px;
                    width: 800px;
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: -1;
                }
            }

            .tells-your-story {
                padding-right: 4%;
                font-size: 140px;
            }
        }

        @media screen and (max-width: 1926px) and (min-width: 1440px) {

            .bring-idea {
                margin: 300px 0 0 10px;
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 4px;
                position: relative;

                &::before {
                    top: -400px;
                    left: 490px;
                    position: absolute;
                    content: "";
                    height: 800px;
                    width: 800px;
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: -1;
                }
            }


            .headers {
                width: calc(100%);
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 14vw;
                }

            }

            .tells-your-story {
                padding-right: 2%;
                font-weight: 400;
                font-size: 5vw;
                letter-spacing: 8px;
                text-align: right;
            }
        }

        @media screen and (max-width: 1439px) and (min-width: 1024px) {

            // height: 80vh;
            .start-your-project {
                position: absolute;
                top: 50px;
                right: 100px;
                font-size: 30px;
                font-weight: 600;
                width: fit-content;
            }

            .bring-idea {
                margin: 380px 0 0 20px;
                font-size: 40px;
                line-height: 58px;
                letter-spacing: 4px;
                position: relative;

                &::before {
                    top: -400px;
                    left: 100px;
                    position: absolute;
                    content: "";
                    height: 600px;
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: -1;
                    background-size: contain;
                }
            }


            .headers {
                width: calc(100%);
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 11vw;
                }

            }

            .tells-your-story {
                padding-right: 2%;
                font-weight: 400;
                font-size: 5vw;
                letter-spacing: 8px;
                text-align: right;
            }

        }

        @media screen and (max-width: 1023px) and (min-width: 768px) {
            // height: 80vh;

            .start-your-project {
                position: absolute;
                top: 50px;
                right: 60px;
                font-size: 20px;
                font-weight: 600;
                width: fit-content;

                &::after {
                    right: -15%;
                    top: 30%;
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: black;
                    transition: 0.5s ease-in-out;
                }
            }

            .bring-idea {
                margin: 150px 0 0 60px;
                font-size: 30px;
                line-height: 58px;
                letter-spacing: 4px;
                position: relative;

                &::before {
                    top: -200px;
                    left: 200px;
                    position: absolute;
                    content: "";
                    height: 300px;
                    width: 300px;
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: -1;
                    background-size: contain;
                }
            }


            .headers {

                h1 {
                    font-size: 9vw;
                    font-weight: bold;
                }

            }

            .tells-your-story {
                padding-right: 4%;
                font-weight: 400;
                font-size: 4vw;
                letter-spacing: 8px;
                text-align: right;
            }

        }

        @media screen and (max-width: 767px) {
            // height: 50vh;

            .start-your-project {
                position: absolute;
                top: 50px;
                right: 40px;
                font-size: 14px;
                font-weight: 600;
                width: fit-content;

                &::after {
                    right: -15%;
                    top: 30%;
                    position: absolute;
                    content: "";
                    height: 10px;
                    width: 10px;
                    background-color: black;
                    transition: 0.5s ease-in-out;
                }
            }

            .bring-idea {
                margin: 60px 0 0 -10px;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 4px;
                position: relative;
                width: 100%;

                &::before {
                    top: -100px;
                    left: 15px;
                    position: absolute;
                    content: "";
                    height: 200px;
                    width: 200px;
                    background-image: url("../../assets/images/01_everyPixel/RareLanding-BG-cube.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: -1;
                    background-size: contain;
                }
            }


            .headers {
                h1 {
                    margin-left: 30px;
                    font-size: 22vw;
                    font-weight: bold;
                    letter-spacing: 20px;
                }

            }

            .tells-your-story {
                margin-left: -10px;
                font-size: 8vw;
                letter-spacing: 5px;
                text-align: left;
                width: 100%;
            }

        }

    }

    .intro {
        position: relative;

        .welcome2rp {
            // height: 100vh;
            margin-top: 400px;
            margin-bottom: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 0;

            h2 {
                font-size: 8vmax;
                font-weight: 300;
                text-align: center;
                font-family: roboto-slab-light;
                position: relative;

                span {
                    font-family: roboto-slab;
                    display: block;
                    font-weight: 400;
                    font-size: 9vmax;

                    .x {
                        margin: 5px;
                        display: inline-block;
                        position: relative;
                        margin-right: 15px;
                        margin-left: 10px;
                        height: 6vmax;
                        width: 6vmax;
                        background-image: url("../../assets/images/02_welcomeRP/X-pixels-moving.gif");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: 1s ease-in-out;
                        animation: rotate 4s linear infinite;

                        // &:hover {
                        //     // background-image: url("../../assets/images/02_welcomeRP/rotating-cube-hover.gif");

                        // }

                        @keyframes rotate {
                            from {
                                transform: rotate(0deg);
                            }

                            to {
                                transform: rotate(360deg);
                            }
                        }
                    }

                }

                &::before {
                    position: absolute;
                    content: "";
                    height: 50vmax;
                    width: 50vmax;
                    top: -80%;
                    left: -98%;
                    background-image: url("../../assets/images/02_welcomeRP/left-rotating-cube.gif");
                    background-repeat: no-repeat;
                    background-size: cover;
                    overflow-y: hidden;
                }
            }

            @media screen and (min-width: 1927px) {

                h2 {
                    font-size: 8vmax;
                    font-weight: 300;
                    text-align: center;
                    font-family: roboto-slab-light;
                    position: relative;

                    span {
                        font-family: roboto-slab;
                        display: block;
                        font-weight: 400;
                        font-size: 9vmax;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        height: 50vmax;
                        width: 50vmax;
                        top: -80%;
                        left: -98%;
                        background-image: url("../../assets/images/02_welcomeRP/left-rotating-cube.gif");
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow-y: hidden;
                    }
                }
            }

            @media screen and (max-width: 1439px) and (min-width: 1024px) {
                margin-top: 200px;
            }

            @media screen and (max-width: 1023px) and (min-width: 768px) {
                margin-top: 180px;
            }

            @media screen and (max-width: 767px) and (min-width: 530px) {
                margin-top: 160px;
            }

            @media screen and (max-width: 529px) {
                margin-top: 140px;
            }


            @media screen and (min-width: 325px) and (max-width: 450px) {
                margin-top: 150px;
                margin-bottom: 150px;

                h2 {
                    font-size: 7.5vmax;
                    font-weight: 300;
                    text-align: center;
                    font-family: roboto-slab-light;
                    position: relative;

                    span {
                        font-size: 8vmax;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        height: 50vmax;
                        width: 50vmax;
                        top: -80%;
                        left: -50%;
                        background-image: url("../../assets/images/02_welcomeRP/left-rotating-cube.gif");
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow-y: hidden;
                    }
                }
            }

            @media screen and (max-width: 324px) {
                margin-top: 80px;
            }

        }




        .visually-captivating {
            font-family: roboto-slab-light;
            height: 100vh;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-weight: 300;

            h2 {
                width: 66%;
                font-size: 64px;
                line-height: 104px;
                text-align: center;


                .wind-mill {
                    height: 100px;
                    width: 100px;
                    display: inline-block;
                    background-image: url("../../assets/images/03_captivating/windMillBG.gif");
                    object-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .eye {
                    position: relative;
                    top: 10px;
                    height: 100px;
                    width: 110px;
                    display: inline-block;
                    background-image: url("../../assets/images/03_captivating/eye-cropped.gif");
                    background-repeat: no-repeat;
                    background-position: bottom;
                    background-size: contain;
                }
            }

            @media screen and (min-width: 1927px) {
                h2 {
                    font-size: 72px;
                    line-height: 104px;
                    width: 63%;

                    .wind-mill {
                        height: 120px;
                        width: 120px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 100px;
                        width: 130px;
                    }
                }
            }

            @media screen and (max-width: 1885px) and (min-width: 1440px) {
                h2 {
                    font-size: 65px;
                    line-height: 104px;
                    width: 80%;

                    .wind-mill {
                        height: 80px;
                        width: 70px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 80px;
                        width: 90px;
                    }
                }
            }

            @media screen and (max-width: 1439px) and (min-width: 1024px) {
                h2 {
                    font-size: 55px;
                    line-height: 104px;
                    width: 85%;

                    .wind-mill {
                        height: 80px;
                        width: 70px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 80px;
                        width: 90px;
                    }
                }
            }

            @media screen and (max-width: 1023px) and (min-width: 768px) {
                h2 {
                    font-size: 40px;
                    line-height: 104px;
                    width: 90%;

                    .wind-mill {
                        height: 80px;
                        width: 70px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 80px;
                        width: 90px;
                    }
                }
            }

            @media screen and (max-width: 767px) and (min-width: 530px) {
                h2 {
                    font-size: 40px;
                    line-height: 104px;
                    width: 90%;

                    .wind-mill {
                        height: 80px;
                        width: 70px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 80px;
                        width: 90px;
                    }
                }
            }

            @media screen and (max-width: 529px) {
                h2 {
                    font-size: 35px;
                    line-height: 80px;
                    width: 95%;
                    text-align: left;

                    .wind-mill {
                        height: 60px;
                        width: 50px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 60px;
                        width: 70px;
                    }
                }
            }

            @media screen and (max-width: 479px) {
                h2 {
                    font-size: 32px;
                    line-height: 80px;
                    width: 95%;
                    text-align: left;
                    margin: 20px;

                    .wind-mill {
                        height: 40px;
                        width: 30px;
                    }

                    .eye {
                        position: relative;
                        top: 10px;
                        height: 40px;
                        width: 50px;
                    }
                }
            }

        }

    }

    .transform-ideas {
        margin: 200px 200px 0px 200px;
        font-family: roboto-slab-light;
        font-size: 64px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        position: relative;

        h2 {

            width: 85%;
            text-align: center;

            div {
                display: inline-block;
            }

            .bulbs {
                height: 90px;
                width: 110px;
                background-image: url("../../assets/images/04_transformIdeas/bulb.gif");
                background-position: center;
                background-repeat: no-repeat;
            }

            .squares {
                height: 90px;
                width: 80px;
                background-image: url("../../assets/images/04_transformIdeas/blackWhiteSquare.gif");
                background-position: center;
                background-repeat: no-repeat;
            }

            .shapes {
                height: 90px;
                width: 70px;
                background-image: url("../../assets/images/04_transformIdeas/jumpingShapes.gif");
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -250px;
            right: -200px;
            height: 30vmax;
            width: 30vmax;
            background-image: url("../../assets/images/02_welcomeRP/left-rotating-cube.gif");
            background-repeat: no-repeat;
            background-size: cover;
            // background: red;
        }


        @media screen and (min-width: 1927px) {
            h2 {
                font-size: 4vw;

                .bulbs,
                .squares,
                .shapes {
                    height: 120px;
                    width: 120px;
                    background-size: contain;
                }
            }

            &::after {
                top: -300px;
                right: -220px;
                height: 35vmax;
                width: 35vmax;
            }
        }

        @media screen and (max-width: 1439px) and (min-width: 1024px) {
            h2 {
                font-size: 3.5vw;

                .bulbs,
                .squares,
                .shapes {
                    height: 80px;
                    width: 80px;
                    background-size: contain;
                }
            }

            &::after {
                top: -200px;
                right: -150px;
                height: 25vmax;
                width: 25vmax;
            }
        }

        @media screen and (max-width: 1023px) and (min-width: 768px) {
            h2 {
                font-size: 4vw;
                width: 90%;

                .bulbs,
                .squares,
                .shapes {
                    height: 70px;
                    width: 70px;
                    background-size: contain;
                }
            }

            &::after {
                top: -150px;
                right: -100px;
                height: 20vmax;
                width: 20vmax;
            }
        }

        @media screen and (max-width: 767px) and (min-width: 530px) {


            margin: 200px 70px 0px 70px;

            h2 {
                font-size: 4.5vw;
                width: 95%;
                text-align: left;
                padding-left: 20px;

                .bulbs,
                .squares,
                .shapes {
                    height: 60px;
                    width: 60px;
                    background-size: contain;
                }
            }

            &::after {
                top: -100px;
                right: -50px;
                height: 15vmax;
                width: 15vmax;
            }
        }

        @media screen and (max-width: 529px) {
            margin: 200px 50px 0px 50px;

            h2 {
                font-size: 5vw;
                width: 100%;
                text-align: left;
                padding-left: 15px;

                .bulbs,
                .squares,
                .shapes {
                    height: 50px;
                    width: 50px;
                    background-size: contain;
                }
            }

            &::after {
                top: -80px;
                right: -30px;
                height: 12vmax;
                width: 12vmax;
            }
        }

        @media screen and (min-width: 325px) and (max-width: 450px) {

            margin: 100px 20px 0px 20px;

            h2 {
                font-size: 5.5vw;
                text-align: left;
                padding-left: 10px;
                margin-right: 10px;

                .bulbs,
                .squares,
                .shapes {
                    height: 40px;
                    width: 40px;
                    background-size: contain;
                }
            }

            &::after {
                top: -60px;
                right: -20px;
                height: 10vmax;
                width: 10vmax;
            }
        }

        @media screen and (max-width: 324px) {
            margin: 100px 20px 0px 20px;

            h2 {
                font-size: 6vw;
                text-align: left;
                padding-left: 5px;
                margin-right: 5px;

                .bulbs,
                .squares,
                .shapes {
                    height: 30px;
                    width: 30px;
                    background-size: contain;
                }
            }

            &::after {
                top: -40px;
                right: -10px;
                height: 8vmax;
                width: 8vmax;
            }
        }



    }

    .our-work {

        .lumber-craft {
            background-color: #478590;

            .lumberFrame {
                position: sticky;
                top: 0;
                z-index: 1;

                // &::before {
                //     content: "Web Design";
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     height: 100%;
                //     font-size: 35vh;
                //     font-family: roboto-slab-light;
                //     color: #b2a3a329;
                //     z-index: -1;

                // } 

                .lumberContent {
                    width: 90vw;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .all-products {

                        position: relative;
                        z-index: 10;

                        .all-list {
                            height: 35vmax;
                            width: 20vmax;
                            object-fit: contain;
                        }

                        .place-it {
                            height: 8vmax;
                            width: 8vmax;
                            object-fit: contain;
                            position: absolute;
                            bottom: 0;
                            right: -80px;

                        }
                    }

                    .main-product {

                        img {
                            height: 50vmax;
                            width: 45vmax;
                            object-fit: contain;
                            position: relative;
                            z-index: 9;
                        }
                    }

                    .customer-services {
                        height: 35vmax;
                        width: 15vmax;
                        object-fit: contain;

                    }
                }
            }


            @media screen and (min-width: 1927px) {

                .lumberFrame {

                    // &::before {
                    //     content: "Web Design";
                    //     height: 100%;
                    //     font-size: 35vh;
                    // } 

                    .lumberContent {
                        width: 90vw;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .all-products {

                            .all-list {
                                height: 40vmax;
                                width: 20vmax;
                                object-fit: contain;
                            }

                            .place-it {
                                height: 8vmax;
                                width: 8vmax;
                                object-fit: contain;
                                position: absolute;
                                bottom: -50px;
                                right: -80px;
                            }
                        }

                        .main-product {

                            img {
                                height: 60vmax;
                                width: 55vmax;
                                object-fit: contain;
                                position: relative;
                                z-index: 9;
                            }
                        }

                        .customer-services {

                            img {
                                height: 40vmax;
                                width: 20vmax;
                                object-fit: contain;
                                // background-color: red;
                            }
                        }
                    }
                }

            }

            @media screen and (max-width: 1439px) and (min-width: 1024px) {

                .lumberFrame {

                    // &::before {
                    //     content: "Web Design";
                    //     height: 100%;
                    //     font-size: 35vh;
                    // } 

                    .lumberContent {
                        width: 95vw;
                        height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 50px;

                        .all-products {

                            .all-list {
                                height: 40vmax;
                                width: 15vmax;
                                object-fit: contain;
                            }

                            .place-it {
                                height: 6vmax;
                                width: 6vmax;
                                object-fit: contain;
                                position: absolute;
                                bottom: 20px;
                                right: -30px;
                            }
                        }

                        .main-product {

                            img {
                                height: 50vmax;
                                width: 45vmax;
                                object-fit: contain;
                                position: relative;
                                z-index: 9;
                                padding-left: 10px;
                            }
                        }

                        .customer-services {

                            img {
                                height: 40vmax;
                                width: 20vmax;
                                object-fit: contain;
                            }
                        }
                    }
                }

            }

            @media screen and (max-width: 1023px) and (min-width: 768px) {
                .lumberFrame {

                    // &::before {
                    //     content: "Web Design";
                    //     height: 100%;
                    //     font-size: 35vh;
                    // } 

                    .lumberContent {
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 100px;

                        .all-products {
                            .all-list {
                                height: 40vmax;
                                width: 15vmax;
                                object-fit: contain;
                            }

                            .place-it {
                                height: 6vmax;
                                width: 6vmax;
                                object-fit: contain;
                                position: absolute;
                                bottom: 40px;
                                right: -30px;
                            }
                        }

                        .main-product {

                            img {
                                height: 50vmax;
                                width: 45vmax;
                                object-fit: contain;
                                position: relative;
                                z-index: 9;
                                padding-left: 10px;
                            }
                        }

                        .customer-services {

                            img {
                                height: 40vmax;
                                width: 20vmax;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 767px) and (min-width: 530px) {
                .lumberFrame {


                    .lumberContent {
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        background-color: yellow;
                        gap: 100px;

                        .all-products {

                            position: relative;
                            .all-list {
                                height: 30vmax;
                                width: 20vmax;
                                object-fit: contain;
                            }

                            .place-it {
                                height: 5vmax;
                                width: 5vmax;
                                object-fit: contain;
                                position: absolute;
                                bottom: 30px;
                                right: -20px;
                            }
                        }

                        .main-product {

                            img {
                                height: 50vmax;
                                width: 100vmax;
                                object-fit: contain;
                                position: relative;
                                z-index: 9;
                                // padding-left: 10px;
                            }
                        }

                        .customer-services {
                            height: 100px;
                            background-color: green;
                            img {
                                height: 35vmax;
                                width: 20vmax;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

        }

        .regalFinance {
            background-color: #2C2C2C;


            // &::before {
            //     content: "Web Design";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 35vh;
            //     font-family: roboto-slab-light;
            //     color: #615c5c29;
            //     z-index: -1;

            // }


            .regalFrame {
                position: sticky;
                top: 0;
                z-index: 1;

            }
        }

        .xtream {
            background-color: #5A5A5A;

            // &::before {
            //     content: "Web Design";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 35vh;
            //     font-family: roboto-slab-light;
            //     color: #696868;
            //     z-index: 1;

            // }

        }

        .orchard {
            background-color: #8FE5E0;

            // &::before {
            //     content: "Mobile App";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 35vh;
            //     font-family: roboto-slab-light;
            //     color: #a2a2a236;
            //     z-index: 1;
            // }


            .orchardScreens {
                display: flex;
                position: sticky;
                top: 0;
                z-index: 1;

                .screen-showcase {
                    width: 50%;
                    display: flex;

                    .veggie-menu {
                        width: 50%;
                    }

                    .vertical-scroll {
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        box-sizing: border-box;

                        .marquee {
                            width: 320px;
                            top: 10 0%;
                            position: relative;
                            box-sizing: border-box;
                            animation: marquee 20s linear infinite 2s;
                            margin: 0 auto;
                            text-align: center;
                            color: #ffffff;
                            white-space: nowrap;

                            @keyframes marquee {
                                from {
                                    transform: translateY(0);
                                }

                                to {
                                    transform: translateY(-150%);
                                }
                            }

                            img {
                                margin-bottom: 20px;
                            }

                            &:hover {
                                animation-play-state: paused;
                            }
                        }




                    }

                }

                .homescreen {
                    width: 50%;
                    display: flex;
                    align-items: end;
                }
            }
        }

        .healthInsurance {

            .healthScreens {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #F5F5DC;

                // &::before {
                //     content: "Mobile App";
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     height: 100%;
                //     font-size: 34vh;
                //     font-family: roboto-slab-light;
                //     color: #a2a2a210;
                //     z-index: -1;

                // }
            }
        }

        .dinaRollings {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #F2F4F7;

            // &::before {
            //     content: "Mobile App";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 34vh;
            //     font-family: roboto-slab-light;
            //     color: #a2a2a210;
            //     z-index: -1;

            // }
        }

        .vividSpark {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #1E1E1E;

            // &::before {
            //     content: "Branding";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 34vh;
            //     font-family: roboto-slab-light;
            //     color: #a2a2a210;
            //     z-index: -1;
            // }

            .vividText {
                height: 30%;
                width: 100%;
                background: #FF3302;
                display: flex;
                justify-content: space-around;

                p {
                    text-transform: uppercase;
                    font-size: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    position: relative;
                    z-index: 10;
                    color: #FF3302;
                }


                h2 {
                    text-transform: uppercase;
                    font-size: 200px;
                    margin-right: 5%;

                    span {
                        color: #FFF5DE;
                    }
                }


            }

            .whyUsReveal {
                font-size: 100px;
                background-color: #FF3302;
                width: 400px;
                z-index: 1;

                h2 {
                    text-wrap: wrap;
                    line-height: 100px;
                    text-align: center;

                    span {
                        text-transform: uppercase;
                        color: #FFF5DE;
                    }
                }
            }
        }

        .cocktailCulture {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #575757;

            // &::before {
            //     content: "Branding";
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     font-size: 34vh;
            //     font-family: roboto-slab-light;
            //     color: #9e8a8a10;
            //     z-index: -1;
            // }

            .layerForReadablity {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.30));
            }
        }



    }

    .design-process {
        height: 340vh;
        width: 100%;

        .data {
            position: sticky;
            top: 0;
            z-index: 1;
            height: 430vh;

            .dp-headers {
                margin-left: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    font-size: 50px;
                    color: #646464;
                }

                h2 {
                    width: 50%;
                    line-height: 90%;
                    text-transform: uppercase;
                    font-size: 200px;
                }
            }

            .processAnimationStart {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }


    .companyOverview {

        .flower-hover-effect {
            transition: transform 5s ease-in-out;

            img {

                animation: rotateFlower 3s infinite;
            }

            @keyframes rotateFlower {
                0% {
                    transform: rotate(0deg);
                    scale: 1;
                }

                50% {
                    transform: rotate(360deg);
                    scale: 0.3;
                }

                51% {
                    transform: rotate(0deg);
                    scale: 0.3;
                }

                100% {
                    transform: rotate(-360deg);
                    scale: 1;
                }
            }
        }


    }



}